<div class="container-fluid">
  <h3>Exercises</h3>

  <div class="form-group">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" [routerLink]="['new']"><i class="fa fa-plus" aria-hidden="true"></i> New</button>    
        <!--<button type="button" class="btn btn-default">Left</button>-->
      </div>
      <div class="btn-group" role="group">  
        <button class="btn btn-default" (click)="toggleSearch()"><i class="fa fa-search" aria-hidden="true"></i> Search</button>    
      </div>      
      <div class="btn-group" role="group">
        <button *ngIf="isAscSorted === false" type="button" class="btn btn-default" (click)="sortAlphaAsc()"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i> Sort</button>    
        <button *ngIf="isAscSorted === true" type="button" class="btn btn-default" (click)="sortAlphaDesc()"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i> Sort</button>            
        <!--<button type="button" class="btn btn-default">Middle</button>-->
      </div>
    </div>    
  </div>

  <!-- Search form -->
  <form *ngIf="showSearch">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>      
        <input type="text" class="form-control" placeholder="Search..." (keyup)="searchExercise(input.value)" #input>      
      </div>
    </div>
  </form>

  <ul class="list-group">
    <!--<h4 class="list-group-item-heading">{{category?.name}}</h4>      -->
    <app-exercise-item *ngFor="let exercise of filtered; let i = index" [exercise]="exercise"></app-exercise-item>
  
  </ul>

</div>
