<div class="container-fluid" [ngStyle]="{'height': height}">
  <h3>Exercises</h3>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-default button-new" [routerLink]="['new']"><i class="fa fa-plus" aria-hidden="true"></i> New</a>
      <a *ngIf="isAscSorted === false" class="btn btn-default button-sort pull-right" (click)="sortAlphaAsc()"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i> Sort</a>
      <a *ngIf="isAscSorted === true" class="btn btn-default button-sort pull-right" (click)="sortAlphaDesc()"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i> Sort</a>    
    </div>
  </div>

  <!-- Search form -->
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>      

        <input type="text" class="form-control" placeholder="Search..." (keyup)="searchExercise(input.value)" #input>      
      
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">

        <!--<h4 class="list-group-item-heading">{{category?.name}}</h4>      -->
        <app-exercise-item *ngFor="let exercise of filtered; let i = index" [exercise]="exercise"></app-exercise-item>
      
      </ul>
    </div>
  </div>
</div>
