

<div class="row">
  <div class="col-xs-12">
    <h3>Workouts</h3>
    <a class="btn btn-default button-new" [routerLink]="['new']"><i class="fa fa-plus" aria-hidden="true"></i> New</a>
    <!--<a class="btn btn-default button-chevron"><i class="fa fa-chevron-right" aria-hidden="true" (click)="showAll()"></i></a>                            -->
    <a *ngIf="isAscSorted === false" class="btn btn-default button-sort pull-right" (click)="sortAlphaAsc()"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i> Sort</a>
    <a *ngIf="isAscSorted === true" class="btn btn-default button-sort pull-right" (click)="sortAlphaDesc()"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i> Sort</a>
    
  </div>
</div>

<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>      
      <input type="text" class="form-control" placeholder="Search..." (keyup)="search(input.value)" #input>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-workout-item *ngFor="let workout of filtered; let i = index" [workout]="workout" [workoutId]="i"></app-workout-item>
    </ul>
  </div>
</div>
