
<div class="container-fluid">
  <h3>Workouts <span class="label label-danger"> new </span> <span class="badge"> new </span></h3>

  <div class="form-group">
    <div class="btn-group btn-group-justified">

      <div class="btn-group" role="group">
        <button class="btn btn-default button-new" [routerLink]="['new']"><i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-xs"> New</span></button>
      </div>
      <div class="btn-group" role="group">  
        <button class="btn btn-default" (click)="toggleSearch()"><i class="fa fa-search" aria-hidden="true"></i><span class="hidden-xs"> Search</span></button>    
      </div>
      <div class="btn-group" role="group">              
        <button *ngIf="isAscSorted === false" class="btn btn-default button-sort" (click)="sortAlphaAsc()"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i><span class="hidden-xs">  Sort</span></button>
        <button *ngIf="isAscSorted === true" class="btn btn-default button-sort" (click)="sortAlphaDesc()"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i><span class="hidden-xs">  Sort</span></button>    
      </div>
    </div>
  </div>

  <form *ngIf="showSearch === true">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>      
        <input type="text" class="form-control" placeholder="Search..." (keyup)="search(input.value)" #input>
      </div>
    </div>
  </form>

  <ul class="list-group">
    <app-workout-item *ngFor="let workout of filtered; let i = index" [workout]="workout" [workoutId]="i"></app-workout-item>
  </ul>    

</div>


