.btn {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

h3, label, p {
    color: lightgray;
}

.form-control.ng-dirty.ng-invalid {
    border: 1px solid #ff2118;
}

.field-error-message {
    color: #ff2118;
}

.app-login {
    background-image: url('../assets/StockSnap_EHS7NJY7KT.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    /*background: radial-gradient(circle, black, white);*/
    background: linear-gradient(black, gray);

    /* fallback color */
    /*background: url(sweettexture.jpg) blue;*/


    margin: 50px;
}