h1 {
    color: red;
}

.container {
    background-color:#35363B;
    width: 100%;      
    min-height: 100%;
    /*top: 200px;*/
    /*position: relative;*/

    /*height: 2000px;*/
    /*position: fixed;*/
}


