
<div class="container-fluid">

  <div *ngIf="isNew">
    <h3>New Workout</h3>
  </div>
  <div *ngIf="!isNew">
    <h3>Edit Workout</h3>
  </div>

  <form [formGroup]="workoutForm" novalidate>

    <div class="form-group">
      <label for="name">Title</label>
      <input
        (keyup)="dirty = true"
        type="text"
        id="name"
        class="form-control"
        formControlName="name">
        <div class="alert alert-danger" 
          *ngIf="workoutForm.controls.name?.dirty && workoutForm.controls.name?.errors?.required">field is mandatory
        </div>
        <div class="alert alert-danger" *ngIf="alreadyExists">
          This workout name already exists.
        </div>
    </div>
          
    <div class="form-group">
      <label for="content">Description</label>
      <textarea
        (keyup)="dirty = true"            
        type="text"
        id="content"
        rows="6"
        class="form-control"
        formControlName="description">
      </textarea>
    </div>

    <div class="form-group">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        
        <div class="btn-group" role="group">        
          <button type="button" class="btn btn-default" (click)="onCancel()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span class="hidden-xs"> Cancel</span></button>
        </div>
        <div *ngIf="!isNew" class="btn-group" role="group">        
          <button type="button" class="btn btn-default" (click)="onRemove()"><i class="fa fa-trash" aria-hidden="true"></i><span class="hidden-xs"> Remove</span></button>
        </div>
        <div class="btn-group" role="group">        
          <button type="submit" class="btn btn-default" (click)="onSubmit()" [disabled]="!workoutForm.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="hidden-xs"> Save</span></button>
        </div>
        
      </div>
    </div>

  </form>
</div>



