<div class="container-fluid" style="width: 50%;">

  <h3>Register</h3>

  <form autocomplete="off" novalidate class="login-form" [formGroup]="form">
  
    <div class="form-group">
      <label>Email:</label>
      <input class="form-control" name="email" formControlName="email">
    </div>

    <div class="form-group">
      <label>Password:</label>
      <input class="form-control" name="password" formControlName="password" type="password">
    </div>

    <div class="form-group">
      <label>Confirm Password:</label>
      <input class="form-control" name="confirm" formControlName="confirm" type="password">
    </div>
    
    <div class="form-group">
      <button type="button" class="btn btn-success" (click)="signUp()" [disabled]="!isPasswordMatch()">Create User</button>
    </div>

  </form>

</div>
