.btn {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

h3, label {
    color: lightgray;
}

.form-control.ng-dirty.ng-invalid {
    border: 1px solid #ff2118;
}

.field-error-message {
    color: #ff2118;
}

.container-fluid {
    height: 1000px;
}